{%extends 'layout/base.html'%}



{%block content%}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Quản lý học sinh</a>
        <div class="d-flex">
            <a class="nav-link text-info" href="/login">Đăng nhập</a>
        </div>
    </div>
</nav>
<img src="https://static.lag.vn/upload/news/24/11/25/meme-chill-guy-la-gi-nguon-goc-tu-dau-1_SEPG.jpg?w=1200&h=800&crop=pad&scale=both&encoder=wic&subsampling=444">
{%endblock%}